# Exclude TEST files and directories from the project's releases
/application/tests/ export-ignore
/application/controllers/tests/ export-ignore
/application/views/tests/ export-ignore
/application/core/MY_Test_Trait.php export-ignore

# Exclude some other files and directories from the project's releases
/.gitignore export-ignore
/.gitattributes export-ignore
/contributing.md export-ignore
/readme.md export-ignore
/license.txt export-ignore

# Auto detect text files and perform LF normalization
* text=auto

# Custom for Visual Studio
*.cs     diff=csharp

# Standard to msysgit
*.doc	 diff=astextplain
*.DOC	 diff=astextplain
*.docx   diff=astextplain
*.DOCX   diff=astextplain
*.dot    diff=astextplain
*.DOT    diff=astextplain
*.pdf    diff=astextplain
*.PDF	 diff=astextplain
*.rtf	 diff=astextplain
*.RTF	 diff=astextplain
