/* Nav menu style */
#myNavbar li.active {
    border-bottom: 3px #1a661a solid;
}


/* Other styles */
#toggle-button{
    margin:20px 0;
}

.align-center{
    text-align: center;
}
.btn_square{
    height: 27px;
    width: 27px;
    padding: 0;
    padding-top: 2px;
}
.inline{
    display: inline;
}
.btn{
    margin-top: 10px;
    margin-bottom: 5px;
}
@media(min-width:768px) {
    .xs-space{
     margin-top: 40px;
    }
    #question{
        max-width:50em;
        word-wrap: break-word;
    }
}
@media(max-width:768px) {
    .xs-space{
     margin-top: 10px;
    }
    .title-section{
        text-align: center;
    }
    #question{
        max-width:50em;
        overflow: hidden;
    }
}
.no-border{
    margin: 0;
}